@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

$footer-background-color: black;

.image-small {
  width: 300px;
  height: 300px;
}

.images {
  display: flex;
}

.image {
  position: relative;
  margin: 10px;
}

.question {
  margin-top: 20px;
}

.top-left {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.4em;
  display: flex;
}

.number {
  margin: auto;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.card-question {
  display: flex;
  justify-content: space-between;
}

.card-content-button {
  background-color: #a7ffbb;
  display: flex;
  padding: 10px;
  justify-content: center;
  color: fff;
}

.warning {
  background-color: #ff9c55;
}
