doctype html
html
  head
    title="CPE - oral exam helper app"
    link(rel='stylesheet' href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    section.section
      block header
    section.section
      block content
    section.section
      footer(class=['content', 'has-text-centered', 'footer'])
            p Made with &#9829 by Rimmert Zelle 
    block scripts
      script(src="/dist/application.js" type="text/javascript")